<form (submit)="register(formData)" #formData="ngForm">
  <label for="first_name">First Name:</label>
  <input type="text"
  name="first_name"
  required
  minlength = "3"
  maxlength = "20"
  ngModel
  #first_name="ngModel">
  <ul *ngIf="first_name.errors && (first_name.dirty || first_name.touched)">
        <li [hidden]="!first_name.errors.minlength">First name must be at least 3 characters.</li>
        <li [hidden]="!first_name.errors.maxlength">First name must be no greater than 20 characters.</li>
        <li [hidden]="!first_name.errors.required">First name is required.</li>
  </ul>
  <label for="last_name">Last Name:</label>
  <input type="text"
  name="last_name"
  required
  minlength = "3"
  maxlength = "25"
  ngModel
  #last_name="ngModel">
  <ul *ngIf="last_name.errors && (last_name.dirty || last_name.touched)">
        <li [hidden]="!last_name.errors.minlength">Last name must be at least 3 characters.</li>
        <li [hidden]="!last_name.errors.maxlength">Last name must be no greater than 25 characters.</li>
        <li [hidden]="!last_name.errors.required">Last name is required.</li>
  </ul>
  <label for="email">Email:</label>
  <input type="email"
  name="email"
  required
  ngModel
  #email="ngModel">
  <ul *ngIf="email.errors && (email.dirty || email.touched)">
        <li [hidden]="!email.errors.required">Email is required.</li>
  </ul>
  <label for="password">Password:</label>
  <input type="password"
  name="password"
  required
  ngModel
  #password="ngModel">
  <ul *ngIf="password.errors && (password.dirty || password.touched)">
        <li [hidden]="!password.errors.required">Password is required.</li>
  </ul>
  <input type="submit" value="Login">
</form>
